* {
    background-color: black;
    color: rgb(156, 2, 2);
}

table {
    border: 10px;
    border-radius: 10px;
    margin: 30px;
    border-style: double;
}

th,
td {
    border-style: groove;
    padding-right: 20px;
}
